@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Glory:ital,wght@0,100..800;1,100..800&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rufina:wght@400;700&display=swap');

body {

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Exo", sans-serif
}

.container {
    /* margin: 0 auto; */
    width: 1200px;
}

select {
    width: 246px;
    height: 30px;
    border-radius: 4px;
    /* color: #CFCFCF; */
    border: 0.5px solid #CFCFCF;
    /* border: 0.5px; */
    margin-bottom: 12px;
}
.container {
    width: 1240px;
    margin: auto;
}

.header {
    background-color: #313131;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 70px 0px 70px;

}

.btn {
    border: none;
    border-radius: 7px;
    color: white;
    background-color: #D10000;
    width: 150px;
    height: 35px;
}

.text {
    display: flex;
    gap: 3pc;
}

.logo {
    line-height: 10px;

    span {
        color: #D10000;
    }
}